<div class="home-index">
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/QrGrOK8oZG8?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div id="vidtop-content">
    <div class="vid-info">
      <h1>YouTube Fullscreen Background Demo</h1>
      <p>
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        There ain't nobody cooking but me and you
        Too many cooks are trying to get in your kitchen
        The first thing you know there's something missin'
        You got a real good oven, you've got a hot range, too
        Let me butter your buns while you stir the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        There ain't nobody cooking but me and you
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        There ain't nobody cooking but me and you

        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        There ain't nobody cooking but me and you
        Too many cooks are trying to get in your kitchen
        The first thing you know there's something missin'
        You got a real good oven, you've got a hot range, too
        Let me butter your buns while you stir the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        There ain't nobody cooking but me and you
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        Too many cooks are gonna spoil the stew
        There ain't nobody cooking but me and you
      </p>

    </div>
  </div>
</div>
