<div class="home-index">
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/QrGrOK8oZG8?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div id="vidtop-content">
    <div class="vid-info">
      <div class="headers-box">
        <h1>An innovative way to order your food</h1>
        <h2>(so wow!)</h2>
        <%= link_to "Click Here To See Restaurants", restaurants_path %>
      </div>
    </div>
  </div>
</div>
