<p id="notice"><%= notice %></p>

<ul>
  <li><a href="#orders-to-review">Orders To Review</a></li>
  <li><a href="#orders-already-reviewed">Orders Already Reviewed</a></li>
  <li><a href="#other-orders">Other Orders</a></li>
</ul>

<h2>Orders To Review for Feedback:</h2>
<div id="orders-to-review">
  <% @orders_to_review.each do |order| %>
    <%= render order %>
  <% end %>
  <br>
  <br>
</div>

<div id="orders-already-reviewed">
  <h2>Orders Already Reviewed</h2>
  <% @orders_already_reviewed.each do |order| %>
    <%= render order, hide_form: true %>
  <% end %>
  <br>
  <br>
</div>

<div id="other-orders">
  <h2>Other Orders</h2>
  <% @other_orders.each do |order| %>
    <%= render order %>
  <% end %>
  <br>
  <br>
</div>