// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Main landing page

.fuckmeburger {
  background-image: url('/assets/fuckmeburger.jpg');
  background-size: cover;
  background-position: center center;
}

// Bootstrap shit design
